@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
:root {
  --swiper-theme-color: white !important;
}

* {
  width: 100%;
  margin: 0;
  font-size: 1em;
  color: white;
  font-family: 'Open Sans', sans-serif !important;
  box-sizing: border-box;
}
body {
  color: white !important;
  background-color: black !important;
}
.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-header {
  padding: 6%;
}
.container-header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-header a {
  text-decoration: none;
  color: white;
}
.container-header nav i {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-header .bi-list {
  font-size: 30px;
}
.container-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  background-color: #0c0c0cfc;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.mostrar {
  animation: showMenu 0.7s ease-in-out forwards;
}
.quitar {
  animation: quitarMenu 1s ease-in-out forwards;
}
.container-overlay .overlay-content {
  opacity: 0;
  width: 0;
}
.container-overlay .mostrarI {
  animation: showMenuItems 1.2s ease-in-out forwards;
}
.container-overlay .quitarI {
  animation: quitarMenuItems 0.5s ease-in-out forwards;
}
.bi2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  font-size: 25px;
}
.container-overlay ul {
  list-style: none;
}
.title-li {
  margin-bottom: 10px;
  color: blueviolet;
  font-weight: bold;
}
.servicios-items {
  opacity: 0;
  height: 0;
}
.mostrar-servicios-menu {
  animation: showServicios 1s ease-in-out forwards;
}
.quitarItems {
  animation: quitarMenuServicios 0.5s ease-in-out forwards;
}
#back {
  opacity: 0;
  margin-left: 25px;
  font-size: 35px;
}
.botones {
  display: flex;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}
.txt-hero {
  display: flex;
  z-index: 99;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/Overlay_Video-Home.png);backdrop-filter: blur(10px);
  color: white;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  width: 90%;
}
.txt-hero h4 {
  font-size: 1.5em;
}
.txt-hero p {
  color: white;
  font-size: 1.1em;
}
.txt-hero a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  background-color: rgb(97, 97, 97);
  border-radius: 10px;
}
.txt-hero a:nth-child(1) {
  margin-right: 10px
}
.botones-con {
  display: flex;
}

@keyframes quitarMenuServicios {
  0%{
    opacity: 1;
    width: 100%;
  }
  50% {
    width: 100%;
    opacity: 0;
  }
  100%{
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes showServicios {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}
@keyframes showMenuItems {
  0%{
    opacity: 0;
    width: 100%;
  }
  50% {
    width: 100%;
    opacity: 0;
  }
  100%{
    opacity: 1;
    width: 100%;
  }
}
@keyframes quitarMenuItems {
  0%{
    opacity: 1;
    width: 100%;
  }
  50% {
    width: 100%;
    opacity: 0;
  }
  100%{
    opacity: 0;
    width: 0;
  }
}
@keyframes showMenu {
  to {
    height: 100vh;
  }
}
@keyframes quitarMenu {
  0% {
    height: 100vh;
  }
  50% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
.container-why {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6%;
  flex-direction: column;
}
.container-why h2 {
  text-align: center;
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 10px;
}
.container-grid .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 10px;
}
.container-grid .grid-item h3, .container-grid .grid-item p {
  text-align: center;
}
.container-grid .grid-item h3 {
  margin-bottom: 20px;
}
.container-grid .grid-item img {
  width: 40px;
  height: 40px;
}
.container-grid .grid-item .image {
  padding: 20px;
  width: 70px;
  height: 70px;
  border-radius: 25px;
  background-color: rgb(116, 116, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.container-porque {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.porque h2, .porque p {
  text-align: center;
  margin-top: 10px;
}
.porque h2 {
  font-weight: 600;
}
.container-porque img {
  border-radius: 20px;
}
.container-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 6%;
}
.container-servicios h2 {
  text-align: center;
}
.container-servicios .servicio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container-servicios img {
  border-radius: 20px;
  filter: grayscale(100%);
  margin-bottom: 10px;
  margin-top: 25px;
}
.container-servicios img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.container-servicios img:hover {
  background-color: blueviolet;
}
.container-servicios a {
  padding: 7px 13px;
  background-color: rgb(97, 97, 97);
  text-decoration: none;
  color: white;
  width: auto;
  border-radius: 5px;
}
.testimonios .swiper {
  width: 600px;
  height: 300px;
}
.testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-testimonio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  border: 2px solid gray;
  border-radius: 20px;
  width: 350px;
}
.swiper-slide {
  display: flex !important;
  justify-content: center;
}
.testimonios hr {
  width: 90px;
  background-color: gray;
  border-top: 3px solid gray;
}
.form--group {
  position: relative;
  --color: #5757577e;
  width: 300px;
}
.form--input {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  color: #706c6c;
  padding: .6em .3em;
  border: none;
  outline: none;
  background-color: black;
  border-bottom: 1px solid var(--color);
}
.form--label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s;
}
.form--input:focus + .form--label,
.form--input:not(:placeholder-shown) + .form--label {
  transform: translateY(-12px) scale(.7);
  transform-origin: top left;
  --color: #3866f2;
}
.cuentanos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cuentanos 