@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
:root {
  --swiper-theme-color: white !important;
}

* {
  width: 100%;
  margin: 0;
  font-size: 1em;
  color: white;
  font-family: 'Open Sans', sans-serif !important;
  box-sizing: border-box;
}
body {
  color: white !important;
  background-color: black !important;
}
.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-header {
  padding: 15px 6%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #000000b8;
}
.container-header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-header a {
  text-decoration: none;
  color: white;
}
.container-header nav i {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-header .bi-list {
  font-size: 30px;
}
.container-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  background-color: #0c0c0cfc;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.mostrar {
  animation: showMenu 0.7s ease-in-out forwards;
}
.quitar {
  animation: quitarMenu 1s ease-in-out forwards;
}
.container-overlay .overlay-content {
  opacity: 0;
  width: 0;
  padding: 30px;
  display: none;
}
.grid-item ul {
  list-style: none;
}
.grid-item ul li {
  margin-bottom: 10px;
}
.grid-item ul li img {
  width: 100%;
  margin-right: 20px;
}
.container-overlay .mostrarI {
  animation: showMenuItems 1.2s ease-in-out forwards;
}
.container-overlay .quitarI {
  animation: quitarMenuItems 0.5s ease-in-out forwards;
}
.bi2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
  font-size: 25px;
}
.container-overlay ul {
  list-style: none;
}
.title-li {
  margin-bottom: 10px;
  color: blueviolet;
  font-weight: bold;
}
.servicios-items {
  opacity: 0;
  height: 0;
}
.mostrar-servicios-menu {
  animation: showServicios 1s ease-in-out forwards;
}
.quitarItems {
  animation: quitarMenuServicios 0.5s ease-in-out forwards;
}
#back {
  opacity: 0;
  margin-left: 25px;
  font-size: 35px;
}
.botones {
  display: flex;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}
.des {
  display: none;
}
.txt-hero {
  display: flex;
  z-index: 99;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(../img/Overlay_Video-Home.png);backdrop-filter: blur(10px);
  color: white;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  width: 90%;
}
.txt-hero h4 {
  font-size: 1.5em;
}
.txt-hero p {
  color: white;
  font-size: 1.1em;
}
.txt-hero a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  background-color: rgb(97, 97, 97);
  border-radius: 10px;
}
.txt-hero a:nth-child(1) {
  margin-right: 10px
}
.botones-con {
  display: flex;
}

@keyframes quitarMenuServicios {
  0%{
    opacity: 1;
    width: 100%;
  }
  50% {
    width: 100%;
    opacity: 0;
  }
  100%{
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes showServicios {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}
@keyframes showMenuItems {
  0%{
    display: flex;
    opacity: 0;
    width: 100%;
  }
  50% {
    width: 100%;
    opacity: 0;
  }
  100%{
    opacity: 1;
    width: 100%;
  }
}
@keyframes quitarMenuItems {
  0%{
    opacity: 1;
    width: 100%;
  }
  50% {
    width: 100%;
    opacity: 0;
  }
  100%{
    opacity: 0;
    width: 0;
    display: none;
  }
}
@keyframes showMenu {
  to {
    height: 100vh;
  }
}
@keyframes quitarMenu {
  0% {
    height: 100vh;
  }
  50% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
.container-why {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6%;
  flex-direction: column;
}
.container-why h2 {
  text-align: center;
}
.container-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 10px;
}
.container-grid .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 10px;
}
.container-grid .grid-item h3, .container-grid .grid-item p {
  text-align: center;
}
.container-grid .grid-item h3 {
  margin-bottom: 20px;
}
.container-grid .grid-item img {
  width: 40px;
  height: 40px;
}
.container-grid .grid-item .image {
  padding: 20px;
  width: 70px;
  height: 70px;
  border-radius: 25px;
  background-color: rgb(116, 116, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.container-porque {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.porque h2, .porque p {
  text-align: justify;
  margin-top: 10px;
}
.porque h2 {
  font-weight: 600;
}
.container-porque img {
  border-radius: 20px;
}
.container-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 6%;
  background-color: white;
  color: black;
  margin-bottom: 20px;
}
.container-servicios h2 {
  text-align: center;
  font-weight: bold;
}
.container-servicios p {
  color: black;
}
.container-servicios .servicio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container-servicios .servicio-item h3 {
  color: black;
}
.container-servicios img {
  border-radius: 20px;
  /*filter: grayscale(100%);*/
  margin-bottom: 10px;
  margin-top: 25px;
}
.container-servicios img:hover {
  /*filter: grayscale(0%);*/
  transform: scale(1.1);
}
.container-servicios img:hover {
  background-color: blueviolet;
}
.container-servicios a {
  padding: 7px 13px;
  background-color: rgb(25, 37, 201);
  text-decoration: none;
  color: white;
  width: auto;
  border-radius: 5px;
}
.testimonios .swiper {
  width: 600px;
  height: 300px;
}
.testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-testimonio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  border: 2px solid gray;
  border-radius: 20px;
  width: 350px;
  margin: 0 50px;
}
.swiper-slide {
  display: flex !important;
  justify-content: center;
}
.testimonios hr {
  width: 90px;
  background-color: gray;
  border-top: 3px solid gray;
}
/*Form styles*/
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
}
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-control + .form-control {
  margin-top: 1em;
}
.form-control {
  padding: 0 !important;
  background-color: black !important;
  color: #706c6c !important;
  display: flex !important;
  border: none !important;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  align-items: baseline;
}
.checkboxes .form-control {
  width: max-content !important;
}
/*end Form Control*/
.form--group {
  position: relative;
  --color: #ffffff7e;
  width: 300px;
}
.form--input {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  color: #706c6c;
  padding: .6em .3em;
  border: none;
  outline: none;
  background-color: black;
  border-bottom: 1px solid var(--color);
  transform-origin: top left;
}
.form--label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s;
  transform-origin: top left;
}
.form--input:focus + .form--label,
.form--input:not(:placeholder-shown) + .form--label {
  transform: translateY(-12px) scale(.7);
  transform-origin: top left;
}
.inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputs input {
  background-color: rgb(25, 37, 201);
  width: max-content;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
}
.cuentanos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 0 6%;
}
.cuentanos .form--group {
  margin: 10px 0;
}
.cuentanos h1, .cuentanos h4 {
  text-align: center;
}
.cuentanos form {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  background-color: #706c6c;
}
footer img {
  width: 150px;
  margin-bottom: 20px;
}
.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-footer .contacto-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-bottom: 20px;
}
.menu-footer .contacto-footer a {
  text-decoration: none;
  color: white;
}
.menu-footer h1 {
  text-align: center;
}
.container-redes-footer {
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  margin-bottom: 20px;
  font-size: 25px;
  justify-content: center;
}
.container-redes-footer svg {
  margin: 0 auto;
  transform: scale(1.4);
}
@media (min-width: 426px) {
  .container-header {
    height: 100px;
  }
  .container-header img {
    width: 200px;
  }
}
@media (min-width: 768px) {
  .mov {
    display: none;
  }
  .des {
    display: block;
  }
  .hero {
    margin-top: 100px;
  }
  .container-header nav i {
    justify-content: end;
  }
  .container-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    margin-top: 20px;
  }
  .container-porque img {
    width: 600px;
  }
  .container-porque {
    margin-top: 20px;
  }
  .menu-footer {
    flex-direction: row;
  }
}